:root {
  --border-custom: 1px solid rgba(128, 128, 128, 0.452);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary: #2b3499;
  --secondary: #ff6c22;
  --optional: #d6d8f0;
  --third: #ffe0d0;

  font-size: 16px;
  background: var(--primary);
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c177 C 57.6%2c167.8 172.8%2c129.6 288%2c131 C 403.2%2c132.4 460.8%2c188.4 576%2c184 C 691.2%2c179.6 748.8%2c101.2 864%2c109 C 979.2%2c116.8 1036.8%2c239 1152%2c223 C 1267.2%2c207 1382.4%2c67.8 1440%2c29L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c504 C 96%2c478.6 288%2c382.4 480%2c377 C 672%2c371.6 768%2c490.4 960%2c477 C 1152%2c463.6 1344%2c343.4 1440%2c310L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

.container {
  margin: 2% auto;
  transform: scale(90%);
  max-width: 1366px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header {
  text-align: center;
  padding: 0 3rem;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

header > div {
  display: flex;
  align-items: center;
}

header > div > img {
  width: 100px;
  transition: 1s ease-in;
}
header > div > h3 {
  z-index: 1;
}

nav {
  text-align: center;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav > a {
  color: var(--primary);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10px;
  /* border: var(--border-custom); */
  transition: 200ms ease-in-out;
}

.active {
  background: var(--secondary);
  color: white;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

nav > a:hover {
  color: white;
  background: var(--secondary);
  transition: 400ms;
}

section {
  display: flex;
  padding: 2.5rem;
  flex-wrap: wrap;
}

section > form > h3,
p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

section > form > p {
  margin-bottom: 2rem;
  font-size: 1rem;
}

#capsLockWarning {
  visibility: hidden;
  color: orange;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  flex-basis: 50%;
}

article > img {
  margin: 20px auto;
}

section > form {
  background: #fdf7f4;
  text-align: left;
  border: var(--border-custom);
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1rem auto;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

section > form > input[type] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: var(--border-custom);
}
section > form > button[type] {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background: var(--secondary);
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.4s;
}

section > form > label {
  margin-top: 16px;
}

section > form > button[type]:hover {
  background: var(--secondary);
  transition: 0.4s;
}

#usernameError,
#passwordError {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

section > img {
  margin: auto;
}

footer {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 1px solid var(--optional);
  background: var(--secondary);
  color: white;
}

table,
tr,
td,
th {
  border-collapse: collapse;
  border: var(--border-custom);
  padding: 20px;
}

tr:nth-of-type(even) {
  background: #dfdfdf;
}

article > h2 {
  margin-bottom: 20px;
}

td > h5 {
  margin-bottom: 10px;
}

.about {
  background: var(--optional);
  background-color: #fff;
  transition: 800ms ease-out;
}

.intro {
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 5rem 8rem;
}

.intro img {
  align-self: flex-start;
  object-fit: contain;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0.5rem 0.5rem black;
  z-index: 2;
  transition: 100ms ease-in;
}

.intro img:hover {
  transform: scale(1.02);
}

.intro h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.intro p {
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: 1.5rem;
  margin-bottom: 30px;
}

.intro .motto {
  color: grey;
  font-style: italic;
  font-family: cursive;
}

mark {
  text-decoration: underline;
}

.btn {
  color: white;
  padding: 0.5rem;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  text-decoration: none;
  transition: 400ms ease;
}

.linkedin {
  background: rgb(53, 53, 243);
}
.linkedin:hover {
  background: rgb(25, 25, 117);
}

.github {
  background: #414141;
}
.github:hover {
  background: #000;
}

.education,
.work {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

  height: 80vh;
}

.education > div > h2,
.work > div > h2 {
  margin-bottom: 2rem;
}

.work {
  flex-direction: row-reverse;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list > div {
  height: 100px;
  color: black;
  padding: 1.5rem 3rem;
  border: var(--border-custom);
  border-radius: 20px;
  background: white;
  transition: 200ms ease-in;
  box-shadow: 0.5rem 0.5rem black;
}

.list > div:hover {
  box-shadow: none;
  transform: translate(0.5rem, 0.5rem);
}

.heading {
  margin-bottom: 2rem;
}
.heading3 {
  text-align: center;
  margin-top: 1rem;
  transform: translateY(2.4rem);
  text-decoration: underline;
  font-size: 2rem;
}

#changeTheme {
  padding: 1rem 2rem;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 2px solid white;
  outline: none;
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 2rem;
}

/* for phone */
@media only screen and (max-width: 800px) {
  .container {
    transform: scale(100%);
    margin: 0;
    border-radius: 0;
  }

  header {
    flex-direction: row;
    background: var(--primary);
    color: white;
  }

  nav {
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  nav > a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .active {
    background: var(--secondary);
  }

  nav > a:hover {
    background: var(--secondary);
  }

  header > div > img {
    display: none;
  }

  .intro {
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0;
  }

  .intro img {
    width: 60%;
    margin: 0 auto;
  }

  .work,
  .education {
    height: 100%;
  }

  footer {
    background: var(--primary);
    color: white;
  }
}
